/* ============================== *\
   => SEARCH
\* ============================== */

.navigation-bar {
	margin-bottom: 10px;
}

.search {
	position: relative;
}

.search .suggestions {
	width: 100%;
	position: absolute;
	top: 34px;
	left: 0;
	display: none;
	margin-bottom: 0;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
	z-index: 1001;
}

.search .suggestions > .list-group__item {
	margin-bottom: 0;
	padding: 6px 12px;
	border: none;
}

.search .suggestions > .list-group__item:first-child {
	border-radius: 0;
}

.controls {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.controls .button {
	font-size: 22px;
}

.options {
	height: 20px;
	overflow: hidden;
}

.settings {
	margin-top: -20px;
}

@media only screen and (min-width: 640px) {
	.search .query,
	.search .suggestions {
		width: 400px;
	}
}